#home{
    background-color: #ffc107;
    color: #FFFFFF;
}

.box{
    padding: 60px 0px;
    border-bottom: 1px solid #E5E5E5;
}

footer p a{
    margin: 5px 15px;
}

a {
    text-decoration: none;
}